# Copyright (c) 2025, Assessment: SolutionsEngineer-candidate-larry

name: Deploy ChatBot Infrastructure

on:
  push:
    branches: [ "main" ]
    paths:
      - 'infrastructure/**'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    environment: Draft
    env:
      AWS_REGION: ca-central-1 # Set AWS region for the entire job
    defaults:
      run:
        working-directory: ./infrastructure

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.LARRY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Apply
        run: terraform apply -auto-approve -var="region_code=${{ env.AWS_REGION }}"

      - name: Publish Terraform Outputs
        run: |
          chmod +x ./workflow_summary.sh
          ./workflow_summary.sh
        shell: bash
