# Copyright (c) 2025, Assessment: SolutionsEngineer-candidate-larry

name: Destroy ChatBot Infrastructure

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type DESTROY to confirm"
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  terraform-destroy:
    name: "Terraform Destroy"
    if: ${{ github.event.inputs.confirm == 'DESTROY' }}
    runs-on: ubuntu-latest
    environment: Draft
    env:
      AWS_REGION: ca-central-1 # Set AWS region for the entire job
    defaults:
      run:
        working-directory: ./infrastructure

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.LARRY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -var="region_code=${{ env.AWS_REGION }}"
